---
import { Image } from "astro:assets";
import five from "../assets/images/5.png";
import four from "../assets/images/4.png";
import two from "../assets/images/2.png";
import three from "../assets/images/3.png";
---

<section id="Comp" class="bg-backg">
  <h2 class="text-center text-3xl font-bold mt-20 text-textc">Kompetencer</h2>
  <div class="grid grid-cols-7 mt-10">
    <h3
      class="text-xl font-bold col-start-2 row-start-5 mb-10 mt-10 text-textc"
    >
      Sprog
    </h3>
    <p class="col-start-2 cols-span-1 row-start-6 pb-4 text-textc">Dansk:</p>
    <Image
      src={five}
      alt="fem stjerner"
      class="w-full h-full col-start-3 row-start-6 pb-4"
    />
    <p class="col-start-2 col-span-1 row-start-7 pb-4 text-textc">Engelsk:</p>
    <Image
      src={four}
      alt="fire stjerner"
      class="w-full h-full col-start-3 row-start-7 pb-4"
    />
    <h3
      class="text-xl font-bold col-start-5 row-start-1 mb-10 mt-10 text-textc"
    >
      Kodning
    </h3>
    <p class="col-start-5 cols-span-1 row-start-2 pb-4 text-textc">
      HTML/Astro:
    </p>
    <Image
      src={five}
      alt="fem stjerner"
      class="w-full h-full col-start-6 row-start-2 pb-4"
    />
    <p class="col-start-5 col-span-1 row-start-3 pb-4 text-textc">
      TailwindCSS:
    </p>
    <Image
      src={four}
      alt="fire stjerner"
      class="w-full h-full col-start-6 row-start-3 pb-4"
    />
    <p class="col-start-5 col-span-1 row-start-4 pb-4 text-textc">
      JavaScript:
    </p>
    <Image
      src={two}
      alt="to stjerner"
      class="w-full h-full col-start-6 row-start-4 pb-4"
    />
    <h3
      class="text-xl font-bold col-start-5 row-start-5 mb-10 mt-10 text-textc"
    >
      Design og indhold
    </h3>
    <p class="col-start-5 col-span-1 row-start-6 pb-4 text-textc">UX:</p>
    <Image
      src={four}
      alt="fire stjerner"
      class="w-full h-full col-start-6 row-start-6 pb-4"
    />
    <p class="col-start-5 col-span-1 row-start-7 pb-4 text-textc">UI:</p>
    <Image
      src={three}
      alt="tre stjerner"
      class="w-full h-full col-start-6 row-start-7 pb-4"
    />
    <p class="col-start-5 col-span-1 row-start-8 pb-4 text-textc">SoMe:</p>
    <Image
      src={four}
      alt="fire stjerner"
      class="w-full h-full col-start-6 row-start-8 pb-4"
    />
    <h3
      class="text-xl font-bold col-start-2 row-start-1 mb-10 mt-10 text-textc"
    >
      Personlig
    </h3>
    <li
      class="col-start-2 cols-span-1 row-start-2 pb-4 list-disc ml-6 text-textc"
    >
      Detaljeorienteret
    </li>
    <li
      class="col-start-3 cols-span-1 row-start-2 pb-4 list-disc ml-6 text-textc"
    >
      Planlægning
    </li>
    <li
      class="col-start-2 cols-span-1 row-start-3 pb-4 list-disc ml-6 text-textc"
    >
      Struktureret
    </li>
    <li
      class="col-start-3 cols-span-1 row-start-3 pb-4 list-disc ml-6 text-textc"
    >
      Omstillingsparat
    </li>
    <li
      class="col-start-2 cols-span-1 row-start-4 pb-4 list-disc ml-6 text-textc"
    >
      Lærenem
    </li>
    <li
      class="col-start-3 cols-span-1 row-start-4 pb-4 list-disc ml-6 text-textc"
    >
      Selvstændighed
    </li>
  </div>
</section>
