---
import { Image } from "astro:assets";
import five from "../assets/images/5.png";
import four from "../assets/images/4.png";
import two from "../assets/images/2.png";
import three from "../assets/images/3.png";
---

<section id="Comp">
  <h2
    class="text-center text-3xl font-bold mt-28 text-textc underline decoration-solid font-pops"
  >
    Kompetencer
  </h2>
  <div class="grid grid-cols-7 mt-10">
    <h3
      class="text-xl font-bold col-start-2 row-start-5 mb-10 mt-10 text-textc pt-6 font-pops"
    >
      Sprog
    </h3>
    <p class="col-start-2 cols-span-1 row-start-6 pb-4 text-textc font-pop">
      Dansk
    </p>
    <Image
      src={five}
      alt="fem stjerner"
      class="w-full h-full col-start-3 row-start-6 pb-4"
    />
    <p class="col-start-2 col-span-1 row-start-7 pb-4 text-textc font-pop">
      Engelsk
    </p>
    <Image
      src={four}
      alt="fire stjerner"
      class="w-full h-full col-start-3 row-start-7 pb-4"
    />
    <h3
      class="text-xl font-bold col-start-5 row-start-1 mb-10 mt-10 text-textc font-pops"
    >
      Kodning
    </h3>
    <p class="col-start-5 cols-span-1 row-start-2 pb-4 text-textc font-pop">
      HTML/Astro
    </p>
    <Image
      src={five}
      alt="fem stjerner"
      class="w-full h-full col-start-6 row-start-2 pb-4"
    />
    <p class="col-start-5 col-span-1 row-start-3 pb-4 text-textc font-pop">
      TailwindCSS
    </p>
    <Image
      src={four}
      alt="fire stjerner"
      class="w-full h-full col-start-6 row-start-3 pb-4"
    />
    <p class="col-start-5 col-span-1 row-start-4 pb-4 text-textc font-pop">
      JavaScript
    </p>
    <Image
      src={three}
      alt="tre stjerner"
      class="w-full h-full col-start-6 row-start-4 pb-4"
    />
    <h3
      class="text-xl font-bold col-start-5 col-span-2 row-start-5 mb-10 mt-10 text-textc pt-6 font-pops"
    >
      Design og indhold
    </h3>
    <p class="col-start-5 col-span-1 row-start-6 pb-4 text-textc font-pop">
      UX
    </p>
    <Image
      src={four}
      alt="fire stjerner"
      class="w-full h-full col-start-6 row-start-6 pb-4"
    />
    <p class="col-start-5 col-span-1 row-start-7 pb-4 text-textc font-pop">
      UI
    </p>
    <Image
      src={three}
      alt="tre stjerner"
      class="w-full h-full col-start-6 row-start-7 pb-4"
    />
    <p class="col-start-5 col-span-1 row-start-8 pb-4 text-textc font-pop">
      SoMe
    </p>
    <Image
      src={four}
      alt="fire stjerner"
      class="w-full h-full col-start-6 row-start-8 pb-4"
    />
    <h3
      class="text-xl font-bold col-start-2 row-start-1 mb-10 mt-10 text-textc font-pops"
    >
      Personlig
    </h3>
    <li
      class="col-start-2 cols-span-1 row-start-2 pb-4 list-disc ml-6 text-textc font-pop"
    >
      Detaljeorienteret
    </li>
    <li
      class="col-start-3 cols-span-1 row-start-2 pb-4 list-disc ml-6 text-textc font-pop"
    >
      Passioneret
    </li>
    <li
      class="col-start-2 cols-span-1 row-start-3 pb-4 list-disc ml-6 text-textc font-pop"
    >
      Struktureret
    </li>
    <li
      class="col-start-3 cols-span-1 row-start-3 pb-4 list-disc ml-6 text-textc font-pop"
    >
      Omstillingsparat
    </li>
    <li
      class="col-start-2 cols-span-1 row-start-4 pb-4 list-disc ml-6 text-textc font-pop"
    >
      Lærenem
    </li>
    <li
      class="col-start-3 cols-span-1 row-start-4 pb-4 list-disc ml-6 text-textc font-pop"
    >
      Selvstændig
    </li>
  </div>
</section>
